[Desktop Entry]
Version=1.0
Name=SOCKS Chromium (Port: 1080)
Comment=Browse the World Wide Web with SOCKS proxy
Exec=chromium --user-data-dir=/tmp/pentest-chrome --proxy-server="socks5://127.0.0.1:1080"
Terminal=false
Icon=chromium
Type=Application
Categories=Network;WebBrowser;
